
@font-face {
    font-family: 'Tajawal';
    src: url('tajawal-regular-webfont.woff2') format('woff2'),
         url('tajawal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* .btn-group dropright{
  background-color: yellow;
}

button {
color: yellow;
} */

.btn-group {
  color: yellow;
}

#menu {
  background-color: #b1e0e6;
}

.navbar {
  opacity: 0;
}

@media (min-width:48em) {}
.navbar {
  color: red;
}




h1 {
  color: white;
  font-size: 5em;
  font-family: "Tajawal";
}

/* .breed-traits{
  color: white;
  font-size: 5em;
  font-family: "Tajawal";
  text-align:center;
} */

h2 {
  color: #b1e0e6;
  font-size: 4em;
  text-align: right;
  padding-bottom: .25em;
  padding-right: 1em;
  border-bottom: .025em solid white;
  font-family: "Tajawal";
}

h3 {
  color: white;
  font-size: 3em;
  font-family: "Tajawal";
}

/* .text-center{
  margin-left:calc(100% - 75%);
} */

img {
  padding-top:1em;
  padding-bottom:1em;
  transition: .5s ease;
  backface-visibility: hidden;
}

#breed-page-background {
  background-color: #86cce8;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  /* padding-left: 3em; */
  border-bottom: 1em solid #b1e0e6;
}

.overlay-fade:hover .image{
  opacity: 0.5;
}

.overlay-fade:hover .middle{
  opacity: 1;
}


.overlay {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: #008CBA;
}

.text {
  background-color: #86cce8;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

p {
  width: 90%;
  max-width: 45em;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em;
  color: gray;
  font-family: "Tajawal";
  font-size: 1em;
}

/* @media (min-width:48em) {
  p {
    font-size: 3em;
  } */

.breed-text{
  color: white;
  font-size: 1em;
  width: 90%;
  max-width: 45em;
  margin: 0 auto;
  padding-top: 4em;
  /* padding-bottom: 4em; */
  font-family: "Tajawal";
}

.header-box {
  background-color: #86cce8;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  border-bottom: 1em solid #b1e0e6;
}

.body-images{
  padding: 0;
}

nav {
  background-color: #5e9d9e;
  list-style: none;
  padding-top: .75em;
  padding-bottom: .75em;
  text-align: center;
}

a {
  color: white;
  font-size: 1em;
  font-family: "tajawal";
}

nav ul {
    list-style: none;
    padding-top: .25em;
    padding-left: 0;
    margin: 0;
  }

nav li {
  display: inline;
  margin-left: 0.5em;
  /* margin: 0 -.1em; */
}

nav li:first-child {
  margin-left: 0;
}

nav a:hover,
nav a:focus {
  color:  #5e9d9e;
  text-decoration: none;
}

#fawn-frenchie {
  background-color: #5e9d9e;
  padding-top: 2em;
  padding-bottom: 2em;
}

#blu-frenchie {
  background-color: #b1e0e6;
  padding-top: 2em;
  padding-bottom: 2em;
}

#brindle-frenchie {
  background-color: #86cce8;
  padding-top: 2em;
  padding-bottom: 2em;
}

#pied-frenchie {
  background-color: #5e9d9e;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* #fawn-frenchie-breeds {
  background-color: #5e9d9e;
  padding-top: 4em;
  padding-bottom: 1em;
} */


@media (min-width:48em) {
  #menu{
    font-size: 1.5em;
    /* text-align: left; */
  }


@media (min-width:48em) {

h1 {
  color: white;
  font-size: 7em;
}

@media (min-width:24em) {

h1 {
  color: white;
  font-size: 5em;
}


@media (min-width:48em) {

  p{
    font-size:1.25em;
  }

  @media (min-width:48em) {

    .breed-text{
      font-size: .8em;
    }


}

@media (min-width:48em) {

  #fawn-frenchie {
    font-size:2em;
}

  #blu-frenchie{
    font-size:2em;
}

  #brindle-frenchie {
    font-size:2em;
}

  #pied-frenchie{
    font-size:2em;
}

}


.back-to-top{
  background-color: #b1e0e6;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
