h1 {
  color: white;
  font-size: 4em;
}

h2 {
  color: #b1e0e6;
  font-size: 3.5em;
  text-align: right;
  padding-bottom: .25em;
  border-bottom: .025em solid white;
}

h3 {
  color: white;
  font-size: 3em;
}

/* .text-center{
  margin-left:calc(100% - 75%);
} */

img {
  padding-top:1em;
  padding-bottom:1em;
}

p {
  width: 90%;
  max-width: 45em;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em;
  color: gray;
}

.header-box {
  background-color: #86cce8;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  border-bottom: 1em solid #b1e0e6;
}

nav {
  background-color: #5e9d9e;
  list-style: none;
  padding-top: .75em;
  padding-bottom: .75em;
  padding-left: 2em;
}

a {
  color: white;
  font-size: 1.25em;
}

nav ul {
    list-style: none;
    padding-top: .5em;
    padding-left: 0;
    margin: 0;
  }

nav li {
  display: inline;
  margin-left: 3em;
  /* margin: 0 -.1em; */
}

nav li:first-child {
  margin-left: 0;
}

nav a:hover,
nav a:focus {
  color: #b1e0e6;
  text-decoration: none;
}

#fawn-frenchie {
  background-color: #5e9d9e;
  padding-top: 1em;
  padding-bottom: 1em;
}

#blu-frenchie {
  background-color: #b1e0e6;
  padding-top: 2em;
  padding-bottom: 2em;
}

#brindle-frenchie {
  background-color: #86cce8;
  padding-top: 2em;
  padding-bottom: 2em;
}

#pied-frenchie {
  background-color: #5e9d9e;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width:48em) {

h1 {
  color: white;
  font-size: 6em;
}

}

@media (min-width:48em) {

  #fawn-frenchie {
    font-size:2em;
}

  #blu-frenchie{
    font-size:2em;
}

  #brindle-frenchie {
    font-size:2em;
}

  #pied-frenchie{
    font-size:2em;
}

}
